<header>
  <div class="px-3 py-2 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="#" class="nav-link text-secondary">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#home"></use>
              </svg>
              Home
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#speedometer2"></use>
              </svg>
              Dashboard
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#table"></use>
              </svg>
              Orders
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#grid"></use>
              </svg>
              Products
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#people-circle"></use>
              </svg>
              Customers
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="px-3 py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-center">
      <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
        <!-- <input type="search" class="form-control" placeholder="Search..." aria-label="Search"> -->

        Select Company : <select (change)="handleChange($event)" name="cmbTipoTexto"
          class="form-control form-control-sm col-sm-7" id="cmbTipoTexto">
          <option *ngFor="let item of textTypes" [value]="item.key">{{item.value}}</option>
        </select>

        <!-- <h1>Drop Down</h1>
        <select [(ngModel)]="selectedObject" (change)="selected()">
          <option *ngFor="let item of textTypes" [ngValue]="item.key">{{item.value}}</option>
        </select>
        {{selectedObject | json}} -->

      </form>




      <div class="text-end">
        <!-- <button type="button" class="btn btn-light text-dark me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button> -->
        <button type="submit" class="btn btn-primary"
          (click)="filterData('0965688 BC LTD DBA PROCOGIA')">Submit</button>
      </div>
    </div>
  </div>
</header>
<!--The content below is only a placeholder and can be replaced.-->
<div id="chart">
  <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [yaxis]="chartOptions.yaxis"
    [xaxis]="chartOptions.xaxis" [labels]="chartOptions.labels" [stroke]="chartOptions.stroke"
    [plotOptions]="chartOptions.plotOptions" [markers]="chartOptions.markers" [fill]="chartOptions.fill"
    [tooltip]="chartOptions.tooltip"></apx-chart>

  <!-- <div class="section">
    <h6 style="font-weight:bold">Select a Branch</h6>
    <select>
      <option>Select</option>
        <option *ngFor="let item of this.dataList;let i = index" value="{{item.code}}" [selected]="i == 0">
          {{item.name}}
        </option>
      </select>
  </div> -->

  <!-- <input type="button" name="Submit" onclick="filterdata()">  -->
  <!-- <button (click)="filterData(this.chartOptions,this.data,'0965688 BC LTD DBA PROCOGIA')">Save</button> -->




  <!-- Selected : {{ selectedObject | json }} -->

</div>